################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/perfectwerks.github.io/FileContentIndex
/.vs/slnx.sqlite
